<div class="container">
    <br />
    <br />
    <h5>Menú de Opciones</h5>
    <br />
    <center>
        @Html.ActionLink("Docentes", "Index", "docente")
        |
        @Html.ActionLink("Cursos", "Index", "curso")
        |
        @Html.ActionLink("Logout", "Index", "home", new { onclick = "return confirm('Está seguro que desea salir?')" })
        </center>
            <br />
            <br />

</div>